/*
red - #C84630
pink - #D4A0A7
white - #E3E3E3
grey - #898989
blue - #2D898B
 */

.App {
  text-align: center;
}

.button-container {
  display: inline-flex;
}

.dislike-button {
  height: 40px;
  width: 40px;
  background-color: #C84630;
  border-radius: 50px;
}

.like-button{
  height: 40px;
  width: 40px;
  background-color: #2D898B;
  border-radius: 50px;
}
