/*
red - #C84630
pink - #D4A0A7
white - #E3E3E3
grey - #898989
blue - #2D898B
 */


 @import url(https://fonts.googleapis.com/css?family=Raleway:700);
body {
  background-color: #898989;
  cursor: default;
}

p {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 45vh;
}

.anim {
  animation-name: jiggle;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

.App {
  text-align: center;
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: inline-grid;
}

.match {
  color: #C84630;
  cursor: pointer;
}
 i {
   cursor: pointer;
 }
.users-container {
  position: absolute;
  margin: 0;
  left: 0;
  display: block;
  padding: 0.8em;
}
.image-container{
  right: 100px;
  top: 120px;
  position: absolute;
  display: block;
  padding: 0.8em;
}
img {
  width: inherit;
}
.title {
  margin: 0 auto;
  text-transform: uppercase;
  background-color: #E3E3E3;
  padding: 0.5em 0;
}
.button-container{
  display: inline-flex;
}

.dislike-button {
  height: 60px;
  width: 60px;
  background-color: #C84630;
  border-radius: 50px;
  display: inline-block;
  padding: 1em;
  margin-right: 100px;
  color: #2D898B;
  text-align: center;
  cursor: pointer;
}
.like-button{
  height: 60px;
  width: 60px;
  background-color: #2D898B;
  border-radius: 50px;
  display: inline-block;
  padding: 1em;
  color:  #C84630;
  margin-left: 100px;
  cursor: pointer;
}

button:focus {
    outline: none !important;
}
